version: "3.9"
services:
  app:
    container_name: shopping-list
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - ./data.json:/app/data.json
    ports:
      - "8000:8000"