{{ define "content" }}

<div id="add-new-item-form">
    <input type="text" id="new-item-name" placeholder="Add a new item" />
    <button type="button" id="add-item-button">
        +
    </button>
    <div id="auto-complete" class="hide">
        <ul id="favorites">
            <li>Favo</li>
            <li>Rites</li>
        </ul>
    </div>
</div>

<div id="bulk-actions">
    <button id="uncheck-all">Uncheck all</button>
    <button id="delete-all">Delete all</button>
</div>

<div id="shopping-list">
    <ul id="sortable-list" class="sortable-list">

    </ul>
    <div id="item-clip" class="item item-clip hide">Foo</div>
</div>

{{ end }}