.item {
    cursor: pointer;
    position: relative;
    transition: all .3s;
    user-select: none;
}

/* .item.on-drag {
    transform: scale(1.05, 1.1);
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
} */

.item::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.item:last-child {
    opacity: 0;
}

.item:last-child::before {
    border: none;
    height: 0;
}

.item-clip {
    position: absolute;
    background-color: white;
    opacity: 1;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: none;
    background-color: white;
}

.hide {
    display: none;
}